* {
    all: unset;
    font-family: Fira Sans, Symbols Nerd Font;
    font-size: 12px;
    font-weight: 500;
    transition-property: background-color;
    transition-duration: 0.5s;
}

#waybar {
    border-top: 8px transparent;
    background-color: rgba(17, 17, 27, 0.7);
}

window#waybar.empty #window {
    background-color: rgba(255, 0, 0, 1);
}

tooltip label {
    color: @foreground;
}

#custom-logo,
#clock,
#window,
#workspaces button,
#tray,
#language,
#custom-micro,
#custom-date,
#custom-music. #custom-music1,
#custom-mako,
#custom-cava,
#backlight,
#battery,
#battery.time,
#network,
#network.disconnected,
#network.disabled,
#disk,
#network.linked,
#network.ethernet,
#network.wifi,
#custom-swaync,
#custom-powermenu,
#pulseaudio {
    box-shadow: inset 0 -3px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 6px 14px;
    margin: 4px;
    background-color: #181825;
    color: #cdd6f4;
}

#workspaces button:hover,
#workspaces button.active {
    background-color: #bac2de;
    color: #1e1e2e;
}

#language {
    color: #1e1e2e;
    background-color: #f5e0dc;
}

#clock {
    color: #1e1e2e;
    background-color: #cba6f7;
}

#custom-date {
    color: #1e1e2e;
    background-color: #89b4fa;
}

#pulseaudio {
    color: #1e1e2e;
    background-color: #a6e3a1;
}

#network.wifi,
#network {
    color: #1e1e2e;
    background-color: #f9e2af;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}
